# Ignore everything
*

# But not these files...
!.gitignore
!brightness.py
!corner_detector.py
!feature_detector.py
!knnClassifier.py
!hist.py
!hog.py
!manual_bin_select.py
!testClustering.py
!testingOpenCV.py
!TODOs.txt
!main.py
!neural_test.py
!test_binarizations.py
!*.txt
!*.jpg
!*.JPG
!/test_data/
!/learn_data/

